/* mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* extended classes */
.placeholder {
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
    color: #ccc;
  }
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #f5f5f5 !important;
}

.calc-container {
  width: 500px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  input {
    @extend .placeholder;
    @include border-radius(3px);
  }
  span.text {
    text-align: right;
  }
  .select-container {
    width: 100px;

    select {
      font-size: 18px;
    }
  }
  input.error {
    border-color: #ce4844;
  }
  span.error {
    color: #ce4844;
  }
  .btn {
    float:right;
  }

}

@media only screen and (max-width: 480px) {
  .calc-container {
    padding: 5px;

    span.text {
      padding: 5px;
    }
  }
}